{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container mt-5">
    {% include 'errors.html '%}
    <form method="post"  action="{% url 'upload' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="polling_unit_uniqueid" class="form-label">Date</label>
            <input type="date" class="form-control" id="date_entered" name="date_entered" >
        </div>
        <div class="mb-3">
            <label for="polling_unit_uniqueid" class="form-label">Polling Unit Id</label>
            <input type="number" class="form-control" id="polling_unit_uniqueid" name="polling_unit_uniqueid" >
        </div>
        <div class="mb-3">
            <label for="party_abbreviation" class="form-label">Party Abbreviation</label>
            <input type="text" class="form-control" id="party_abbreviation" name="party_abbreviation">
        </div>
        <div class="mb-3">
            <label for="party_score" class="form-label">Party Score</label>
            <input type="text" class="form-control" id="party_score" name="party_score">
        </div>
        <div class="mb-3">
            <label for="entered_by_user" class="form-label">Name</label>
            <input type="text" class="form-control" id="entered_by_user" name="entered_by_user">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}